{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <legend>Search hashtag</legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
      {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <div class="inline">
      {{ form.csrf_token }}
      {{ render_field(form.hashtag, placeholder="Enter a hashtag",
                                  autofocus="") }}
      {{ render_field(form.num_of_clusters, placeholder="Enter a number",
                                  autofocus="") }}
      <div>
      </div>
      <button id="submit_search" type="submit" name="submit">Submit</button>
    </div>  
  </div>
</div>

<div id="please-wait" style="display:none">Please wait...</div>
<button id="predictions">Proceed to predictions >>></button>
<div id="cluster-results"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$("#predictions").click(function() {
  location.href = "/classification/after_training";
});

$("#submit_search").click(function() {
  disableForm();
  $.ajax({
            url: '/clustering/search/',
            data: JSON.stringify({hashtag: $("#hashtag").val(), num_of_clusters: $("#num_of_clusters").val()}),
            contentType: 'application/json; charset=UTF-8',
            type: 'POST',
            dataType: "html",
            success: function(response) {
              $("#cluster-results").html(response);
              enableForm();
            },
            error: function(error) {
                console.log(error);
            }
        });
});

function disableForm() {
  $("#please-wait").show();
  $("#hashtag").prop("disabled", true);
  $("#num_of_clusters").prop("disabled", true);
  $("#submit_search").prop("disabled", true);
}

function enableForm() {
  $("#please-wait").hide();
  $("#hashtag").prop("disabled", false);
  $("#num_of_clusters").prop("disabled", false);
  $("#submit_search").prop("disabled", false);
}
</script>
