{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <legend>Welcome</legend>
    <div class="inline">
      <div>
        <button id="user">USER</button>
        <button id="admin">ADMIN (DATA SCIENTIST)</button>
      </div>
    </div>  
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$("#admin").click(function() {
  location.href = "/twitter/index-admin/";
});


</script>
