{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <legend>Training complete. Proceed to classification of new tweets by entering a hashtag below.</legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
      {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <div class="inline">
      {{ form.csrf_token }}
      {{ render_field(form.hashtag, placeholder="Enter a hashtag",
                                  autofocus="") }}
      <div>
      </div>
      <button id="submit_search" type="submit" name="submit">Submit</button>
      <select id="select-classifier">
        <option value='XGBoost' selected>XGBoost</option>
        <option value='SVC' selected>SVM (SVC)</option>
        <option value='NaiveBayes' selected>Naive Bayes</option>
        <option value='RandomForest' selected>Random Forest</option>
      </select>
    </div>  
  </div>
</div>

<div id="please-wait" style="display:none">Please wait...</div>
<button id="retrain" onclick="retrain()">Retrain</button>
<button id="retrain" onclick="saveToDataset()">Save to dataset</button>
<button id="home">Home</button>
<button id="cross-validate">Cross validate</button>
<div id="predictions"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

$("#home").click(function() {
  location.href = "/twitter/index/";
});

$("#cross-validate").click(function() {
  location.href = "/classification/cross-validation";
});

$("#submit_search").click(function() {
  disableForm();
  $.ajax({
            url: '/classification/predict/',
            data: JSON.stringify({hashtag: $("#hashtag").val(), classifier_name: $("#select-classifier").find(":selected").text()}),
            contentType: 'application/json; charset=UTF-8',
            type: 'POST',
            dataType: "html",
            success: function(response) {
              enableForm();
              $("#predictions").html(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
});

function retrain() {
  $.ajax({
            url: '/classification/retrain/',
            data: JSON.stringify({hashtag: $("#hashtag").val(), classifier_name: $("#select-classifier").find(":selected").text()}),
            contentType: 'application/json; charset=UTF-8',
            type: 'POST',
            dataType: "html",
            success: function(response) {
              enableForm();
              location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
}

function saveToDataset() {
  $.ajax({
            url: '/classification/save_to_dataset',
            data: JSON.stringify({hashtag: $("#hashtag").val(), classifier_name: $("#select-classifier").find(":selected").text()}),
            contentType: 'application/json; charset=UTF-8',
            type: 'POST',
            dataType: "html",
            success: function(response) {
              enableForm();
              location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
}

function disableForm() {
  $("#please-wait").show();
  $("#hashtag").prop("disabled", true);
  $("#submit_search").prop("disabled", true);
}

function enableForm() {
  $("#please-wait").hide();
  $("#hashtag").prop("disabled", false);
  $("#submit_search").prop("disabled", false);
}
</script>
