<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/static/design/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/design/bootstrap/css/narrow-jumbotron.css" rel="stylesheet">
</head>
<body class="embedded">
    <div class="container mini-container">
      <p>Select a topic for this hashtag:</p>
      <div class="button-for-class inline" id="cl-all"><button type="button" class=" cl btn btn-sm btn-primary" id="include-cl-all" onclick="switchClass('all')">All tweets</button></div>
      {% if classes|length > 0 %}
        {% for cl in classes %}
          <div class="button-for-class inline" id="cl-{{cl}}"><button type="button" class="cl btn btn-sm btn-primary" id="include-cl-{{cl}}" onclick="switchClass('{{cl}}')">{{cl}}</button></div>
        {% endfor %}
      {% else %}
        <p>No topics found.</p>
      {% endif %}
      <br class="clearBoth" />
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

function switchClass(className) {
  var include_id = "#include-cl-" + className;
  var div_id = "#cl-" + className;
  if (className != 'all') {
    if ($(include_id).hasClass("active")) {
      $(include_id).removeClass("active");
    } else {
      $(include_id).addClass("active");
    }
  } 
  predict();
}

</script>
</html>
